.countdown-group {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}
.countdown-group div {
  margin: 0 10px;
  background: transparent;
  font-family: "Digital Numbers";
}