.staking-page {
  background : url(../../assets/staking_banner.png);
  background-size:cover;
  background-position:left bottom;
}
.staking-banner {
  width:100%;
  position: absolute;
  z-index: -1;
}
.staking-container {
  width:90%;
  margin: 0 auto;
}
.staking-content {
  padding:76px 0px;
  display: flex;
  justify-content: space-evenly;
}
.staking-content-left h1 {
  font-size: 72px;
  font-weight: 800;
}
.staking-content-left p {
  margin-top: 25px;
  font-weight: 600;
}
.staking-content-right {
  background: rgba(7, 106, 254, 0.7) !important;
  /* backdrop-filter: blur(20px); */
  border-radius: 8px;
  color:white;
  padding:40px 30px;
}
.staking-content-right p {
  font-size: 20px;
}
.staking-main {
  background:#0F0F0E;
  padding:50px 0px;
}

@media(max-width:1034px) {
  .staking-content-left h1{
    font-size: 50px;
  }
}
@media(max-width:768px) {
  .staking-content {
    display: block;
    padding: 35px 0px;
  }
  .staking-content-left h1{
    font-size: 30px;
  }
  .staking-content-left p {
    margin-top:15px
  }
  .staking-content-right p {
    font-size: 16px;
  }
}
@media(max-width:600px) {
  .staking-page {
    background:url(../../assets/staking_mb.png);
    background-size: 100% 100%;
  }
}
@media(max-width:450px) {
  .staking-content-right {
    padding:20px
  }
  .staking-content-right p {
    font-size: 12px;
    margin: 6px 0px;
  }
}