/* .section-title {
  font-size: 50px;
  text-shadow:#e4ae46 4px 1px;
  text-align: center;
  color:white;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            */