html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  pointer-events: none;
}

* {
  font-family: 'Poppins';
}

@font-face {
  font-family: "Baby School";
  font-style: normal;
  font-weight: 1 1000;
  src: local("AgentOrange"),
    url('./fonts/BabySchoolItalic.ttf') format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Medium Cond";
  font-style: normal;
  font-weight: 1 1000;
  src: local("AgentOrange"),
    url('./fonts/franklin-gothic-medium-cond.ttf') format("truetype");
}

@font-face {
  font-family: "Digital Numbers";
  font-style: normal;
  font-weight: 1 1000;
  src: local("AgentOrange"),
    url('./fonts/DigitalNumbers-Regular.ttf') format("truetype");
}